*{
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    color: #3F403F;
}

a{
    text-decoration: none;
}

#container{
    display: flex;
    flex-direction: column;
}

#logo{
    height:50px;
    position: fixed;
    width: 50px;
}

#header{
    height: 10vh;
    width: 100vw;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5rem 10vw;
    z-index: 1;
}

#header a{
    color: white;
    font-size: 50px;
    font-family: sans-serif;
    text-decoration: none;
    width: 100%;
    align-self: center;
    text-align: center;
    font-family: 'Staatliches', cursive;
}

#header a:hover{
    cursor: pointer;
    text-decoration: underline;
}

#header a svg{
    height: 100px;
    align-self: center;
    fill: white;
}

#pageImg{
    height: 40vh;
    background-image: url('/static/images/shirts.jpg');
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
}

#title{
    font-size: 3em;
    align-self: center;
    font-family: sans-serif;
    width: 100%;
    padding-top: 5vh;
    text-align: center;
    background-color: white;
    z-index: 1;
}

#content{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 5vh;
    z-index: 1;
    background-color: white;
}

.item{
    width: 400px;
    height: 500px;
    margin: 20px;
    border-radius: 20px;
    border: 1px solid #FF715B;
    overflow: hidden;
    box-shadow: 2px 2px 5px lightgray;
}

.item:hover{
    cursor: pointer;
    
}

.item img{
    width: 100%;
    height: 325px;
    border-bottom: 1px solid #FF715B;
    transition: height 1s, opacity .9s;
    opacity: 100;
}

.item .info{
    height: 175px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: height 1s;
}

.item.expanded .info{
    height: 500px;
}

.item .info img, .item.expanded .info img{
    height: 15px;
    border: none;
    position: relative;
    top: 0;
    opacity: 100;
}

.item.expanded .info img{
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}


.item.expanded img{
    height: 0;
    border-bottom: none;
    opacity: 0;
}

.item .description.hidden{
    height:0px;
    opacity: 0;
}

.item .description{
    height: auto;
    transition: height 1s, opacity 1s;
    opacity: 100;

    font-family: sans-serif;
    color: #7F807F;
}

.item .info .oneline{
    display: flex;
    justify-content: space-between;
}

.item .info .product{
    font-size: 25px;
    font-family: sans-serif;
}

.item .info .brand{
    font-family: sans-serif;
    color: #7F807F;
}

.item .info .review{
    color: #D5B942;
    font-size: 20px;
    font-family: sans-serif;
}

.item .info .price{
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
}

.item .info .buy{
    height: 0;
    opacity: 0;
    transition: height 1s, opacity .2s;

    width: 100px;
    background-color: #90ee90;
    color: green;
    align-self:center;
    border-radius: 5px;
    box-shadow: 2px 2px 2px lightgray;
    outline: none !important;
}

.item .info .buy:hover{
    cursor: pointer;
    background-color: #70ce70;
}

.item.expanded .info .buy{
    height: 50px;
    opacity: 100;
}