<!DOCTYPE html>
<html>
    <head>
        <title>Branded | Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/home.css">
        <link href="https://fonts.googleapis.com/css?family=Staatliches&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="container">
            <div id="header">
                <a href="mens">Mens</a>
                <a href="womens">Womens</a>
                <a href="trending">Trending</a>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Sales</a>
            </div>
            <div id="split">
                <div>
                    <h3>Your Favorite Brands.</h3>
                    <h3>One Stop.</h3>
                    <button onclick="scrollToAbout()">
                        Learn More <img id="buttonimg" src="/static/images/up-arrow-svgrepo-com (1).svg">
                    </button>
                </div>
                <div>
                    <img id="logo" src="../static/images/icon.svg">
                </div>
            </div>
            <div id="about">
                    <div id="aboutimage">

                        </div>
                <div id="abouttext">
                    <h3>About Us</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>        
                </div>
                
            </div>
            <div id="footer">
                Legal stuff probably goes here.
            </div>
        </div>
        <script>
            function scrollToAbout(){
                document.getElementById('about').scrollIntoView({
                    behavior: "smooth"
                })
            }
        
        </script>
    </body>
</html>